* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #292929;
}

.container {
    width: 100%;
    position: relative;
    z-index: 1;
}

.wrapper {
    width: 1280px;
    overflow: hidden;
    margin: auto;
    /* border: 2px solid red; */
}

a {
    text-decoration: none;
    color: #292929;
}

.button {
    background-color: #F79421;
    color: white;
    margin-top: 50px;
    text-align: center;
    height: 50px;
    padding: 10px 50px;
    font-size: 20px;
    display: inline-block;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.button:hover{
    background-color: rgb(187, 112, 27);
}

header {
    padding-top: 10px;
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: white;
}

.logo {
    float: left;
}

.head {
    float: right;
    overflow: hidden;
}

.contact {
    float: right;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.contact a:hover{
    color: #F79421;
}

.navigate {
    font-size: 16px;
    margin-top: 60px;
    font-weight: 600;
}

.navigate a {
    margin-left: 40px;
}

.navigate a:hover {
    color: #F79421;
    text-decoration: underline;
}

.banner {
    height: 600px;
    background-image: url("../images/banner_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.texts {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-weight: 600;
}

.texts h2 {
    font-size: 74px;
}

.texts h3 {
    font-size: 52px;
}

.texts p {
    font-size: 30px;
    font-weight: 400;
    margin-top: 50px;
}

.mid{
    overflow: hidden;
}

.info {
    float: left;
    width: 50%;
    padding: 100px 0;
}

.info h5 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.info h5 span {
    color: #0872BA;
}

.info p {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin: 30px 0;
    line-height: 1.5em;
}

.info {
    clear: both;
}

.images {
    width: 50%;
    float: right;
    position: relative;
}

.images::after {
    clear: both;
}

.wrapper.visible {
    overflow: visible;
    position: relative;
}

.clear {
    clear: both;
}

.logoimg {
    position: absolute;
    top: -50px;
    right: -42px;
    z-index: -2;
}

.lady {
    position: absolute;
    top: 40px;
    right: 280px;
    z-index: -1;
}

.consult {
    height: 464px;
    background-image: url("../images/middle_banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.colorover {
    width: 100%;
    height: 100%;
    background-color: rgba(8, 114, 186, 0.7);
    text-align: center;
    padding: 100px 0;
}

.midarea {
    padding: 35px 230px;
}

.midarea p {
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
    line-height: 30px;
}

.services {
    padding: 100px 0;
}

.service-text {
    text-align: center;
    color: #292929;
}

.service-text h3 {
    font-size: 36px;
    font-weight: 600;
}

.service-text p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    line-height: 2em;
}

.service-info {
    overflow: hidden;
    margin: 0 -75px;
}

.service-info div {
    width: 25%;
    float: left;
    text-align: center;
    padding: 100px 70px 0;
}

.service-info img {
    height: 48px;
}

.service-info h6 {
    color: #143763;
    font-size: 14px;
    font-weight: 600;
    line-height: 2em;
    margin: 10px 0;
}

.service-info hr {
    width: 20%;
    border: none;
    margin: auto;
    height: 2px;
    background-color: #F79421;
}

.service-info p {
    font-size: 12px;
    line-height: 1.5em;
    padding: 10px 0;
    font-family: 'Lato', sans-serif;
}

.section-num {
    height: 470px;
    background-image: url("../images/figures_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    color: white;
    text-align: center;
}

.section-num p {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.5em;
    padding: 0 270px;
}

.number {
    overflow: hidden;
    padding: 0 50px;
}

.number div {
    width: 25%;
    float: left;
    padding: 50px 0 0;
}

.number h3 {
    font-size: 58px;
    line-height: 1.5em;
}

.number label {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.split {
    overflow: auto;
}

.split a {
    font-size: 22px;
    font-weight: 500;
    display: inline-block;
    text-decoration: underline;
    margin: 30px 0;
}

.split a:hover{
    opacity: 0.6;
}

.split p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    line-height: 25px;
}

.video {
    width: 50%;
    float: left;
    height: 500px;
    background-image: url("../images/business.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
}

.detail {
    width: 50%;
    height: 500px;
    float: left;
    background-color: #e6e6e6;
    position: relative;
    color: #292929;
}

.client {
    width: 640px;
    position: absolute;
    bottom: 20px;
    right: 0;
    text-align: left;
    padding: 10px 20px;
}

.client.bg {
    background-color: rgba(255, 255, 255, 0.1);
}

.study {
    width: 640px;
    position: absolute;
    bottom: 20px;
    left: 0;
    text-align: right;
    padding: 10px 20px;
}

.study.bg {
    background-color: rgba(0, 0, 0, 0.1);
}

.client-content {
    width: 640px;
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    text-align: center;
    padding: 206px 100px 50px;
}

.study-content {
    width: 640px;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    text-align: center;
    padding: 50px 100px;
}

.study-content img {
    margin-bottom: 30px;
}

.study a {
    color: #143763;
}

.video a {
    color: white;
}

.study h3 {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.5;
}

.client h3 {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.5;
}

.team {
    position: relative;
    background-color: #636363;
    z-index: -2;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 50px;
    color: white;
}

.backimg {
    position: absolute;
    height: 110%;
    bottom: 0;
    left: -80px;
    top: -50px;
    z-index: -1;
    opacity: 0.4;
}

.title {
    margin: auto;
    text-align: center;
}

.title h3 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.5;
}

.title p {
    font-size: 20px;
    line-height: 1.5;
}

.people {
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 50px;
}

.wrapper.position{
    position: relative;
}

.member{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: 20px 0 20px 55px;
}

.member:hover{
    border: 1px double #e6e6e6;
    /* box-shadow: 1px 1px 2px 2px rgb(85, 84, 83); */
    /* opacity: 0.7; */
}

.arrow{
    border: 1px solid white;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 0;
}

.arrow:hover{
    opacity: 0.6;
}

.indicator {
    text-align: center;
    margin-top: 30px;
    margin-right: 25px;
}

.indicator a {
    height: 14px;
    width: 14px;
    margin: 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    cursor: pointer;
}

.indicator a:first-child {
    background-color: #FFF;
}

.form{
    text-align: center;
    padding: 100px 0;
}

form{
    position: relative;
}

.line{
    width: 70%;
    border-top: 1px solid #686868;
    position: absolute;
    top: 44%;
    left: 15%;
    z-index: -1;
}

.form h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
}

.form input[type="text"]{
    width: 300px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    border: 1px solid #686868;
    padding: 10px;
    margin: 100px 10px 30px;
}


.form input[type="text"]:first-child{
    margin-left: 0;
    border-radius: 10px 0 0 10px;
}

.form input[type="text"]:last-child{
    margin-right: 0;
    border-radius: 0 10px 10px 0;
}

.menu {
    text-align: center;
    font-size: 14px;
    background-color: #3D3D3D;
    padding: 20px 0;
    margin-bottom: 1px;
}

.menu a{
    color: #FFF;
    margin: 20px 25px;
}

.menu a:hover{
    color: #F79421;
}

.listing{
    width: 100%;
    background-color: #3D3D3D;
    margin-bottom: 1px;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
}


.listing img{
    height: 100%;
    width: 23%;
    position: absolute;
    opacity: 0.4;
    z-index: -1;
}

.imgleft{
    transform: rotate(-20deg);
    left:-170px;
    bottom: -65px;
}

.imgright{
    transform: rotate(-80deg);
    right: -60px;
    top: -150px;
}

.list{
    width: 25%;
    float: left;
    font-family: 'Lato', sans-serif;
}

.list a{
    font-size: 12px;
    color: #BEBEBE;
    line-height: 2;
}

.list a:hover{
    color: #FFF;
}

a.first{
    color: #FFF;
    font-size: 14px;
}

footer{
    background-color: #2b2b2b;
    padding: 7px 0;
}

footer .wrapper div{
    float: left;
    width: 50%;
    color: #FFF;
}

.copy p{
    font-size: 12px;
    font-weight: 400;
}

.copy{
    padding: 8px 0;
}

.social{
    text-align: right;
}

.social a{
    display: inline-block;
    height: 26px;
    width: 26px;
    margin: 0 10px;
}

.social a:hover{
    opacity: 0.7;
}

.fb{
    background-image: url("../images/fb.png");
}

.twitter{
    background-image: url("../images/twitter.png");
}

.gplus{
    background-image: url("../images/g-plus.png");
}
